<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
    <div class="container">
        <form action="/calculator" method="POST">
            <h1>Calculadora</h1>
            <div class="input-container">
                <input class="input" placeholder="Numero 1" name="number1"/>
            </div>
            <div class="input-container">
                <input class="input" placeholder="Numero 2" name="number2" />
            </div>
            <div class="input-container">
                <select class="input" name="operation">
                    <option value="math">Matemática</option>
                    <option value="sub">Subtração</option>
                    <option value="mult">Multiplicação</option>
                    <option value="div">Divição</option>
                </select>
            </div>
            <button class="button" type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>